BFM/01_MorphableModel.mat
BFM/04_attributes.mat
BFM/BaselFaceModel.tgz
BFM/BFM_model_front.mat
BFM/Exp_Pca.bin
BFM/PublicMM1/09_mask/face05_4seg.mat
BFM/PublicMM1/09_mask/face05_4seg.txt
BFM/PublicMM1/11_feature_points/Farkas_face05.fp
BFM/PublicMM1/11_feature_points/fit_face05_9.fp
BFM/PublicMM1/11_feature_points/MPEG4_FDP_face05.fp
BFM/PublicMM1/13_symmetry_indices/face05_symlist.txt
BFM/PublicMM1/matlab/apply_attributes.m
BFM/PublicMM1/matlab/coef2object.m
BFM/PublicMM1/matlab/defrp.m
BFM/PublicMM1/matlab/display_face.m
BFM/PublicMM1/matlab/idx2intl.m
BFM/PublicMM1/matlab/load_model.m
BFM/PublicMM1/matlab/object2coef.m
BFM/PublicMM1/matlab/plywrite.m
BFM/PublicMM1/matlab/script_gen_random_head.m
BFM/PublicMM1/matlab/script_load_scan.m
BFM/PublicMM1/matlab/script_render_fittings.m
checkpoints/init_model/resnet50-0676ba61.pth
checkpoints/lm_model/68lm_detector.pb
checkpoints/pretrained/submodules/external/Deep3DFaceRecon_pytorch/epoch_20.pth
checkpoints/pretrained/submodules/external/Deep3DFaceRecon_pytorch/test_opt.txt

__pycache__/*
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.npy